Click==7.0
Flask==1.0.2
Jinja2==2.10
MarkupSafe==1.1.0
Werkzeug==0.14.1
aniso8601==4.0.1
## !! Could not determine repository location
app==1.0.0
atomicwrites==1.2.1
attrs==18.2.0
flask-restplus==0.12.1
itsdangerous==1.1.0
jsonschema==2.6.0
lxml==4.2.5
more-itertools==4.3.0
pathlib2==2.3.3
pluggy==0.8.0
py==1.7.0
pytest==4.0.2
pytz==2018.7
scandir==1.9.0
six==1.12.0
